In [4]:
import pandas as pd

In [5]:
march = pd.read_csv(r"C:\Users\yj_pc\Desktop\berlin\htw berlin\MPMD_Dateien\1.2 Fdns Data Analytics & Stats Prog\001_Data_CONFIDENTIAL\records_180703_from_2017-03-01_to_2017-03-31.csv", sep=';')
june = pd.read_csv(r"C:\Users\yj_pc\Desktop\berlin\htw berlin\MPMD_Dateien\1.2 Fdns Data Analytics & Stats Prog\001_Data_CONFIDENTIAL\records_180703_from_2017-06-01_to_2017-06-30.csv", sep=';')
september = pd.read_csv(r"C:\Users\yj_pc\Desktop\berlin\htw berlin\MPMD_Dateien\1.2 Fdns Data Analytics & Stats Prog\001_Data_CONFIDENTIAL\records_180703_from_2017-09-01_to_2017-09-30.csv", sep=';')
december = pd.read_csv(r"C:\Users\yj_pc\Desktop\berlin\htw berlin\MPMD_Dateien\1.2 Fdns Data Analytics & Stats Prog\001_Data_CONFIDENTIAL\records_180703_from_2017-12-01_to_2017-12-31.csv", sep=';')

In [23]:
# to combine data sets, but viewed separately still
store180703 = [march,june,september,december]
store180703 = pd.concat(store180703)
store180703.head()
store180703.count()
store180703

      mainBusinessType,location,datetime,cashRegisterNumber,checkoutReceiptNumber,receiptNumber,loyaltyId,productEan,productId,commodityGroup,productGroup,amount,grossPrice
0      30,180703,2017-03-25T08:56:00.000Z,4,3,7626930...
1      30,180703,2017-03-25T08:56:00.000Z,4,3,7626930...
2      30,180703,2017-03-25T08:58:00.000Z,4,4,7626930...
3      30,180703,2017-03-25T08:59:00.000Z,3,2,7626930...
4      30,180703,2017-03-25T09:01:00.000Z,3,3,7626930...
5      30,180703,2017-03-25T09:02:00.000Z,3,4,7626930...
6      30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
7      30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
8      30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
9      30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
10     30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
11     30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
12     30,180703,2017-03-25T09:03:00.000Z,3,5,7626930...
13     30,180703,2017-03-25T09:05:00.000Z,3,6,7626930...
14     30,180703,2017-03-25T09:05:00.000Z,3,6,7626930...
15     30,180703,2017-03-25T09:05:00.000Z,4,5,7626931...
16     30,180703,2017-03-25T09:05:00.000Z,3,7,7626931...
17     30,180703,2017-03-25T09:05:00.000Z,3,7,7626931...
18     30,180703,2017-03-25T09:05:00.000Z,3,7,7626931...
19     30,180703,2017-03-25T09:07:00.000Z,3,8,7626931...
20     30,180703,2017-03-25T09:08:00.000Z,3,9,7626978...
21     30,180703,2017-03-25T09:08:00.000Z,3,10,762697...
22     30,180703,2017-03-25T09:08:00.000Z,3,10,762697...
23     30,180703,2017-03-25T09:08:00.000Z,3,10,762697...
24     30,180703,2017-03-25T09:08:00.000Z,3,10,762697...
25     30,180703,2017-03-25T09:08:00.000Z,3,10,762697...
26     30,180703,2017-03-25T09:08:00.000Z,3,10,762697...
27     30,180703,2017-03-25T09:11:00.000Z,3,11,762697...
28     30,180703,2017-03-25T09:11:00.000Z,3,11,762697...
29     30,180703,2017-03-25T09:11:00.000Z,3,11,762697...
...                                                  ...
66272  30,180703,2017-12-05T00:00:00.000Z,99999,99999...
66273  30,180703,2017-12-05T00:00:00.000Z,99999,99999...
66274  30,180703,2017-12-05T00:00:00.000Z,99999,99999...
66275  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66276  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66277  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66278  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66279  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66280  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66281  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66282  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66283  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66284  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66285  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66286  30,180703,2017-12-04T00:00:00.000Z,99999,99999...
66287  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66288  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66289  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66290  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66291  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66292  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66293  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66294  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66295  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66296  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66297  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66298  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66299  30,180703,2017-12-08T00:00:00.000Z,99999,99999...
66300  30,180703,2017-12-29T00:00:00.000Z,99999,99999...
66301  30,180703,2017-12-29T00:00:00.000Z,99999,99999...

[280834 rows x 1 columns]

In [ ]:
# check against excel records?
excel = pd.read_excel(r"C:\Users\yj_pc\Desktop\berlin\htw berlin\MPMD_Dateien\1.2 Fdns Data Analytics & Stats Prog\001_Data_CONFIDENTIAL\sales_records.xlsx", sheetname=None)
excel.count()

In [17]:
merged.fillna(value={'loyaltyId': 0}, inplace = True)
merged.count()

mainBusinessType         101141
location                 101141
datetime                 101141
cashRegisterNumber       101141
checkoutReceiptNumber    101141
receiptNumber            101141
loyaltyId                101141
productEan               101141
productId                101141
commodityGroup           101141
productGroup             101141
amount                   101141
grossPrice               101141
dtype: int64

In [26]:
merged_only_positives = merged[(merged.grossPrice > 0) & (merged.amount > 0)]
merged_only_positives.count()

mainBusinessType         97236
location                 97236
datetime                 97236
cashRegisterNumber       97236
checkoutReceiptNumber    97236
receiptNumber            97236
loyaltyId                97236
productEan               97236
productId                97236
commodityGroup           97236
productGroup             97236
amount                   97236
grossPrice               97236
dtype: int64

In [18]:
merged_only_zeros = merged[(merged.grossPrice == 0) | (merged.amount == 0)]
merged_only_zeros.count()

mainBusinessType         1027
location                 1027
datetime                 1027
cashRegisterNumber       1027
checkoutReceiptNumber    1027
receiptNumber            1027
loyaltyId                1027
productEan               1027
productId                1027
commodityGroup           1027
productGroup             1027
amount                   1027
grossPrice               1027
dtype: int64

In [19]:
merged_only_negatives = merged[(merged.grossPrice < 0) & (merged.amount < 0)]
merged_only_negatives.count()

mainBusinessType         2878
location                 2878
datetime                 2878
cashRegisterNumber       2878
checkoutReceiptNumber    2878
receiptNumber            2878
loyaltyId                2878
productEan               2878
productId                2878
commodityGroup           2878
productGroup             2878
amount                   2878
grossPrice               2878
dtype: int64

In [20]:
check_for_garbage_1 = merged[(merged.grossPrice > 0) & (merged.amount < 0)]
check_for_garbage_1.count()

mainBusinessType         0
location                 0
datetime                 0
cashRegisterNumber       0
checkoutReceiptNumber    0
receiptNumber            0
loyaltyId                0
productEan               0
productId                0
commodityGroup           0
productGroup             0
amount                   0
grossPrice               0
dtype: int64

In [21]:
check_for_garbage_2 = merged[(merged.grossPrice < 0) & (merged.amount > 0)]
check_for_garbage_2.count()

mainBusinessType         0
location                 0
datetime                 0
cashRegisterNumber       0
checkoutReceiptNumber    0
receiptNumber            0
loyaltyId                0
productEan               0
productId                0
commodityGroup           0
productGroup             0
amount                   0
grossPrice               0
dtype: int64

In [1]:
merged[['loyaltyId','productId', 'amount', 'grossPrice']].head()

NameError: name 'merged' is not defined

In [27]:
merged_only_positives['productId'].nunique()

19248

In [25]:
merged['productId'].nunique()

19333

In [38]:
separated = merged_only_positives[['loyaltyId','productId', 'amount', 'grossPrice']]

separated.groupby(['loyaltyId','productId', 'amount']).average()
#index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'average'

In [ ]:
separated1 = separated.groupby('productId')
separated1.describe()

In [ ]:
separated.head()