### Import modules / Setup

In [1]:
# Import necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras import models
from keras import layers
from keras import backend 
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [0]:
# Define filepath
filepath = "/content/drive/My Drive/Colab Notebooks/LoanStats.csv"

In [0]:
# Import file into DF
loanstats_df = pd.read_csv(filepath)

In [0]:
# Use reduced dataset
loanstats = loanstats_df.drop(columns=['grade', 'home_ownership', 'purpose'])

In [6]:
loanstats.head()

   int_rate  loan_amnt  term  annual_inc
0     10.65       5000    36     24000.0
1     15.27       2500    60     30000.0
2     15.96       2400    36     12252.0
3     13.49      10000    36     49200.0
4     12.69       3000    60     80000.0

In [0]:
# Split into train and test datasets
x = loanstats.drop('int_rate', axis = 1)
y = loanstats[['int_rate']]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
# Check split results
print("x_train",x_train.shape,"x_test",x_test.shape,"y_train",y_train.shape,"y_test",y_test.shape)

x_train (31828, 3) x_test (7958, 3) y_train (31828, 1) y_test (7958, 1)

In [9]:
x_test.head()

       loan_amnt  term  annual_inc
22900      10000    36     78000.0
27960      20000    60     44304.0
32773       4000    36     39456.0
16463      10000    60     70000.0
22822      12000    60     60000.0

In [10]:
y_test.head()

       int_rate
22900      5.79
27960     17.93
32773     16.45
16463     10.74
22822     14.46

### Train model

In [0]:
network = models.Sequential()

network.add(layers.Dense(64, activation='relu', input_shape = (3,)))
network.add(layers.Dense(48, activation='relu'))
# network.add(layers.Dense(24, activation='relu'))
# network.add(layers.Dense(10, activation='relu'))
network.add(layers.Dense(1))

network.compile(optimizer='rmsprop', loss='mse', metrics=['mae','mape'])

In [16]:
network.fit(x = x_train, y = y_train, epochs=40)

Epoch 1/40
31828/31828 [==============================] - 1s 43us/step - loss: 1494360.5830 - mean_absolute_error: 568.5739 - mean_absolute_percentage_error: 5139.4492
Epoch 2/40
31828/31828 [==============================] - 1s 37us/step - loss: 1105011.8693 - mean_absolute_error: 450.3618 - mean_absolute_percentage_error: 4108.1404
Epoch 3/40
31828/31828 [==============================] - 1s 36us/step - loss: 615117.6149 - mean_absolute_error: 374.2790 - mean_absolute_percentage_error: 3413.0917
Epoch 4/40
31828/31828 [==============================] - 1s 38us/step - loss: 476666.8523 - mean_absolute_error: 282.3289 - mean_absolute_percentage_error: 2557.7923
Epoch 5/40
31828/31828 [==============================] - 1s 37us/step - loss: 372322.1156 - mean_absolute_error: 244.9982 - mean_absolute_percentage_error: 2231.9583
Epoch 6/40
31828/31828 [==============================] - 1s 38us/step - loss: 187093.9693 - mean_absolute_error: 181.8700 - mean_absolute_percentage_error: 1666.8375
Epoch 7/40
31828/31828 [==============================] - 1s 38us/step - loss: 124003.2370 - mean_absolute_error: 155.5276 - mean_absolute_percentage_error: 1426.9356
Epoch 8/40
31828/31828 [==============================] - 1s 38us/step - loss: 84555.9196 - mean_absolute_error: 142.7432 - mean_absolute_percentage_error: 1302.4970
Epoch 9/40
31828/31828 [==============================] - 1s 38us/step - loss: 68951.6986 - mean_absolute_error: 119.9362 - mean_absolute_percentage_error: 1087.8126
Epoch 10/40
31828/31828 [==============================] - 1s 38us/step - loss: 53325.7080 - mean_absolute_error: 115.8758 - mean_absolute_percentage_error: 1063.2440
Epoch 11/40
31828/31828 [==============================] - 1s 38us/step - loss: 43036.8120 - mean_absolute_error: 99.2635 - mean_absolute_percentage_error: 908.6354
Epoch 12/40
31828/31828 [==============================] - 1s 37us/step - loss: 39757.1006 - mean_absolute_error: 84.5489 - mean_absolute_percentage_error: 774.8471
Epoch 13/40
31828/31828 [==============================] - 1s 40us/step - loss: 16230.4825 - mean_absolute_error: 62.0569 - mean_absolute_percentage_error: 566.6560
Epoch 14/40
31828/31828 [==============================] - 1s 38us/step - loss: 8605.6804 - mean_absolute_error: 48.1579 - mean_absolute_percentage_error: 438.5242
Epoch 15/40
31828/31828 [==============================] - 1s 40us/step - loss: 5941.8495 - mean_absolute_error: 41.5658 - mean_absolute_percentage_error: 378.7408
Epoch 16/40
31828/31828 [==============================] - 1s 40us/step - loss: 4057.4203 - mean_absolute_error: 30.2270 - mean_absolute_percentage_error: 275.2413
Epoch 17/40
31828/31828 [==============================] - 1s 39us/step - loss: 2284.0058 - mean_absolute_error: 22.6374 - mean_absolute_percentage_error: 204.6332
Epoch 18/40
31828/31828 [==============================] - 1s 38us/step - loss: 1206.4839 - mean_absolute_error: 18.5966 - mean_absolute_percentage_error: 167.4800
Epoch 19/40
31828/31828 [==============================] - 1s 38us/step - loss: 715.6310 - mean_absolute_error: 15.5066 - mean_absolute_percentage_error: 138.7143
Epoch 20/40
31828/31828 [==============================] - 1s 37us/step - loss: 478.1649 - mean_absolute_error: 13.1520 - mean_absolute_percentage_error: 117.5024
Epoch 21/40
31828/31828 [==============================] - 1s 38us/step - loss: 296.4003 - mean_absolute_error: 10.4533 - mean_absolute_percentage_error: 92.9456
Epoch 22/40
31828/31828 [==============================] - 1s 37us/step - loss: 172.8496 - mean_absolute_error: 7.7407 - mean_absolute_percentage_error: 68.1448
Epoch 23/40
31828/31828 [==============================] - 1s 37us/step - loss: 82.7610 - mean_absolute_error: 6.1630 - mean_absolute_percentage_error: 53.2691
Epoch 24/40
31828/31828 [==============================] - 1s 38us/step - loss: 50.3418 - mean_absolute_error: 5.3538 - mean_absolute_percentage_error: 45.5368
Epoch 25/40
31828/31828 [==============================] - 1s 38us/step - loss: 37.8894 - mean_absolute_error: 4.5157 - mean_absolute_percentage_error: 38.2859
Epoch 26/40
31828/31828 [==============================] - 1s 37us/step - loss: 33.1422 - mean_absolute_error: 4.1683 - mean_absolute_percentage_error: 35.7041
Epoch 27/40
31828/31828 [==============================] - 1s 37us/step - loss: 29.0181 - mean_absolute_error: 3.9574 - mean_absolute_percentage_error: 33.9868
Epoch 28/40
31828/31828 [==============================] - 1s 38us/step - loss: 24.1103 - mean_absolute_error: 3.7343 - mean_absolute_percentage_error: 32.4199
Epoch 29/40
31828/31828 [==============================] - 1s 39us/step - loss: 22.2915 - mean_absolute_error: 3.6468 - mean_absolute_percentage_error: 31.6265
Epoch 30/40
31828/31828 [==============================] - 1s 40us/step - loss: 20.2039 - mean_absolute_error: 3.4690 - mean_absolute_percentage_error: 30.4834
Epoch 31/40
31828/31828 [==============================] - 1s 40us/step - loss: 18.5259 - mean_absolute_error: 3.3385 - mean_absolute_percentage_error: 29.6834
Epoch 32/40
31828/31828 [==============================] - 1s 38us/step - loss: 15.9415 - mean_absolute_error: 3.2047 - mean_absolute_percentage_error: 28.7298
Epoch 33/40
31828/31828 [==============================] - 1s 38us/step - loss: 15.5917 - mean_absolute_error: 3.1653 - mean_absolute_percentage_error: 28.5575
Epoch 34/40
31828/31828 [==============================] - 1s 38us/step - loss: 14.4182 - mean_absolute_error: 3.0785 - mean_absolute_percentage_error: 27.9911
Epoch 35/40
31828/31828 [==============================] - 1s 38us/step - loss: 14.3349 - mean_absolute_error: 3.0458 - mean_absolute_percentage_error: 27.8941
Epoch 36/40
31828/31828 [==============================] - 1s 38us/step - loss: 16.5300 - mean_absolute_error: 3.0106 - mean_absolute_percentage_error: 27.8804
Epoch 37/40
31828/31828 [==============================] - 1s 41us/step - loss: 13.1780 - mean_absolute_error: 2.9659 - mean_absolute_percentage_error: 27.4766
Epoch 38/40
31828/31828 [==============================] - 1s 41us/step - loss: 12.8990 - mean_absolute_error: 2.9494 - mean_absolute_percentage_error: 27.4404
Epoch 39/40
31828/31828 [==============================] - 1s 42us/step - loss: 12.7272 - mean_absolute_error: 2.9250 - mean_absolute_percentage_error: 27.3715
Epoch 40/40
31828/31828 [==============================] - 1s 42us/step - loss: 12.5764 - mean_absolute_error: 2.9157 - mean_absolute_percentage_error: 27.3193

In [17]:
network.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 64)                256
_________________________________________________________________
dense_9 (Dense)              (None, 48)                3120
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 49
=================================================================
Total params: 3,425
Trainable params: 3,425
Non-trainable params: 0
_________________________________________________________________

### Results: Train set

In [22]:
train_loss, train_mae, train_mape = network.evaluate(x=x_train, y=y_train)

31828/31828 [==============================] - 1s 18us/step

In [23]:
print(train_mae,train_mape)

3.108392245987934 25.411963525273265

### Results: Test set

In [24]:
test_loss, test_mae, test_mape = network.evaluate(x=x_test, y=y_test)

7958/7958 [==============================] - 0s 18us/step

In [25]:
print(test_mae, test_mape)

3.083455325850712 25.300428140280264